html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
  position: relative;
}

body {
  background-color: #0a1f33;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
