<div class="psp-header">
    <h1>Select payment options</h1>
  </div>
  <button mat-raised-button class="confirm-button"
  [disabled]="selectedOptions.length === 0" 
  (click)="confirmSelection()">Confirm</button>
  <div class="card-container">
    <table mat-table [dataSource]="options" class="options-table" matSort>
      <ng-container matColumnDef="name">
        <td mat-cell *matCellDef="let option" 
            [ngClass]="{ 'selected': selectedOptions.includes(option.name) }"
            (click)="toggleSelection(option.name)"
            (mouseover)="hoverOption = option.name" 
            (mouseleave)="hoverOption = ''"
            [style.fontSize]="hoverOption === option.name ? '1.2em' : '1em'">
          {{ option.name }}
        </td>
      </ng-container>
      
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
          [ngClass]="{'selected': selectedOptions.includes(row.name)}"
          [class.hover]="hoverOption === row.name">
      </tr>
    </table>
  </div>
  

  