body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0a1f33;
}

.form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2%;
  box-sizing: border-box;
  max-height: 680px;
}

form {
  background-color: rgba(45, 89, 136, 0.76);
  border-radius: 15px;
  width: 100%;
  max-width: 800px;
  max-height: 700px;
  box-sizing: border-box;
}

mat-form-field {
  width: 75%;
  max-height: 68px;
  line-height: normal; 
}

mat-form-field:last-child {
  margin-bottom: 20px;
}

.mat-input-element {
  height: 100%;
}

.button {
  width: 75%;
  max-height: 50px;
  font-size: 1em;
  color: #fff;
  background-color: #d6a725;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 100px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .logo-container,
  .form-container {
    width: 100%;
  }
}