<div class="container">
    <div class="screen">
        <div class="screen__content">
            <form (ngSubmit)="register()" #registerForm="ngForm" class="login">
                <h2>Registration</h2>
                
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input type="text" id="username" name="username" class="login__input" [(ngModel)]="user.username" required placeholder="Username">
                </div>
                
                <div class="login__field">
                    <i class="login__icon fas fa-id-badge"></i>
                    <input type="text" id="first-name" name="firstName" class="login__input" [(ngModel)]="user.firstName" required placeholder="First Name">
                </div>
                
                <div class="login__field">
                    <i class="login__icon fas fa-id-badge"></i>
                    <input type="text" id="last-name" name="lastName" class="login__input" [(ngModel)]="user.lastName" required placeholder="Last Name">
                </div>
                
                <div class="login__field">
                    <i class="login__icon fas fa-envelope"></i>
                    <input type="email" id="email" name="email" class="login__input" [(ngModel)]="user.email" required placeholder="Email">
                </div>
                
                <div class="login__field">
                    <i class="login__icon fas fa-lock"></i>
                    <input type="password" id="password" name="password" class="login__input" [(ngModel)]="user.password" required placeholder="Password">
                </div>
                
                <button type="submit" class="button login__submit">
                    <span class="button__text">Register Now</span>
                    <i class="button__icon fas fa-chevron-right"></i>
                </button>
            </form>
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>        
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>        
    </div>
</div>