.card-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 35%;
  }
  
  .psp-header {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 30vh;
  }
  
  h1 {
    color: white;
    text-align: center;
    align-content: center;
  }
  
  .centered-table {
    width: 50%;
  }
  
  table {
    width: 50%;
    max-width: 400px;
  }
  
  tr {
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: lightblue;
  }
  
  tr:hover {
    transform: scale(1.05);
  }
  

  .selected-row {
    background-color: #2196f3; 
    color: white;
    cursor: default;
  }
  tr.selected:hover {
    transform: none;  
  }
  