<html>
    <div *ngIf="transactionDetails; else emptyCart" class="checkout-container">
        <h2>Order Details:</h2>
        <p><strong>Order ID:</strong> {{ transactionDetails.orderId }}</p>
        <p><strong>Merchant ID:</strong> {{ transactionDetails.merchantId }}</p>
        <p><strong>Amount:</strong> ${{ transactionDetails.amount }}</p>
        <p><strong>Timestamp:</strong> {{ transactionDetails.timestamp }}</p>
      
        <div id="paypal-button-container"></div>
    </div>
      
    <ng-template #emptyCart>
        <h2>No transaction details found!</h2>
    </ng-template>
</html>