<html>
  <body>
    <h1>Welcome to our telekom service!</h1>
    <h2 >Hello userId: {{userId}}</h2>
    <a href="logout()">logout</a> <br>
    
    <br/>
    <br/>
    <h2>Services</h2>
    <div class="service-cards">
        <div *ngFor="let service of services" class="card">
          <h3>{{ service.name }}</h3>
          <p>{{ service.description }}</p>
          <p>Type: {{ getServiceTypeLabel(service.type) }}</p>
          <p>Price: ${{ service.price }}</p>
          <p><button type="submit">Buy</button></p>
        </div>
    </div>
    
    <br/>
    <br/>
    <h2>Packages</h2>
    <div class="package-cards">
      <div *ngFor="let package of packages" class="package-card">
        <h3>{{ package.name }}</h3>
        <p>Price: ${{ package.price }}</p>
    
        <div class="service-list">
          <div *ngFor="let packageService of package.packageServices" class="service-card">
            <h4>{{ packageService.service.name }}</h4>
            <p>{{ packageService.service.description }}</p>
            <p>Type: {{ getServiceTypeLabel(packageService.service.type) }}</p>
          </div>
        </div>
        <p><button type="submit">Buy</button></p>
      </div>
    </div>
    <p><button type="submit" (click)="onSubscribe()">Choose payment system</button></p>
  </body>
</html>