/* Stilizacija za ceo ekran */
.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #007bff; /* Plava pozadina */
    color: white; /* Bela boja teksta */
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  /* Stil za naslov */
  .page-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Stil za dugme */
  .subscribe-button {
    background-color: #0056b3; /* Tamnija plava */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .subscribe-button:hover {
    background-color: #003f7f; /* Još tamnija plava pri hoveru */
  }
  